@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.nav2{
    display: flex;
    align-items: center;
    background: #6acd59;
    height: 60px;
    position: relative;
    border-bottom: 1px solid #495057
}

body {
    font-family: "Lato", sans-serif;
    flex-direction: column;
    background-color: #c8fbbf;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 30px 40px 8px 20px;
    text-decoration: none;
    font-size: 20px;/*Tamanho da letra do menú*/
    color: #818181;
    display: block;
}

.sidenav a:last-child{
    padding-bottom: 0px;/*ver situação para o logout*/
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(135, 252, 205);
}

#main {
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 50px;
    text-align: justify;
    background-color: #c8fbbf;;
}

a {
    text-decoration: none;
    color: #111111;
}

.paginas {
    display: flex;
    justify-content: space-around;
    align-items: space round;
    padding: 60px;
    flex-flow: row wrap;
}

.paginas div {
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}


div.espacamento {
    padding: 20px;
}

div.espacamento2 {
    padding: 1px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

header {
    font-size: 20px;
    height: 8vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(109, 182, 127);
    color: rgb(18, 0, 0);
}

.plantas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space round;
    background-color: rgb(238, 248, 248);
    padding: 60px;
    border: #111111;
}

.plantas > div {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.plantas img {
    border-radius: 30px;
    height: 100%;
}

.plantas div div:last-child {
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 20vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: #ffffff;
    color: rgb(18, 0, 0);
}

.notificacoes1{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: flex-start;
    background-color: #43f2ff;
    color: rgb(18, 0, 0);
}

.notificacoes2{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #53fa25;
    color: rgb(18, 0, 0);
}

.notificacoes3{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #f2f538;
    color: rgb(18, 0, 0);
}

.notificacoes4{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #da7408;
    color: rgb(18, 0, 0);
}

.notificacoes5{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #e41818;
    color: rgb(18, 0, 0);
}

.notificacoeslidas{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #8d8d8d;
    color: rgb(18, 0, 0);
}

.notificacoesnaolidas{
    height: 10vh;
    display: flex;
    justify-content:flex-start;
    border-radius: 10px;
    align-items:flex-start;
    background-color: #fdfdfd;
    color: rgb(18, 0, 0);
}

.buttonadd {
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(2, 161, 2);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttondel{
    display: flex;
    justify-content: flex-end;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(228, 33, 33);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonagua{
    display: flex;
    justify-content: flex-end;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(33, 140, 228);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonfertilizante{
    display: flex;
    justify-content: flex-end;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(75, 56, 22);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.card{
    height: 350px;
    width: 380px;
    background-color: rgba(6, 61, 242, 0.084);
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #0a0707;
}

.h4{
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
}

h6{
    text-align: center;
    color: #b3b3b3;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 25px;
}

.card img{
    width: 22%;
    margin-left: 39%;
}

.titulo{
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.container{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.details{
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.details span{
    color: #000000;
}

.details:first-child{
    border-right: 2px solid #fcfcfc;
}

footer {
    font-size: 13px;
    height: 8vh;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
    color: rgb(18, 0, 0);
}