@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    padding: 0px;
    margin: 0px
}

.nav2{
    display: flex;
    align-items: center;
    background: #6acd59;
    height: 60px;
    position: relative;
    border-bottom: 1px solid #495057
}

body {
    font-family: "Lato", sans-serif;
    flex-direction: column;
    background-color: #c8fbbf;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 30px 40px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:last-child{
    padding-bottom: 0px;/*ver situação para o logout*/
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(135, 252, 205);
}

#main {
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 50px;
    text-align: justify;
    background-color: #c8fbbf;;
}

a {
    text-decoration: none;
    color: #111111;
}

.paginas {
    display: flex;
    justify-content: space-around;
    align-items: space round;
    padding: 60px;
    flex-flow: row wrap;
}

.paginas div {
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}


div.espacamento {
    padding: 20px;
}

div.espacamento2 {
    padding: 1px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

header {
    font-size: 20px;
    height: 8vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(109, 182, 127);
    color: rgb(18, 0, 0);
}

.plantas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space round;
    background-color: rgb(238, 248, 248);
    padding: 60px;
    border: #111111;
}

.plantas > div {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.plantas img {
    border-radius: 30px;
    height: 100%;
}

.plantas div div:last-child {
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 20vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: #ffffff;
    color: rgb(18, 0, 0);
}


footer {
    font-size: 13px;
    height: 8vh;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
    color: rgb(18, 0, 0);
}