{% extends 'tfc/layout.html' %}

{% block main %}    
    <header>Dashboard</header>
    <div class="paginas">
        <a href="{% url 'tfc:inicio' %}">
            <div>
                <center><h1>Início</h1></center><br>
                <p>Nesta página o utilizador poderá ver a metereologia bem como funciona a aplicação</p> 
                <br>  
                <hr> 
                <br>
                <p>Ver Detalhes ></p>   
            </div>
        </a>
        
        <a href="{% url 'tfc:plantas' %}">
            <div>
                <center><h1>Plantas</h1></center><br>
                <p>Nesta página o utilizador poderá ver todas as plantas que existem na aplicação</p> 
                <br> 
                <hr> 
                <br>
                <p>Ver Detalhes ></p>
            </div>
        </a>

        <a href="{% url 'tfc:omeujardim' %}">
            <div>
                <center><h1>O Meu Jardim</h1></center><br>
                <p>Nesta página o utilizador poderá ver todas as plantas que estão associadas ao seu jardim</p>  
                <br> 
                <hr> 
                <br>
                <p>Ver Detalhes ></p>  
            </div>
        </a>

        <a href="{% url 'tfc:notificacoes' %}">
            <div>
                <center><h1>Notificações</h1></center><br>
                <p>Nesta página o utilizador poderá ver todas as notificações que recebeu</p>    
                <br> 
                <hr> 
                <br>
                <p>Ver Detalhes ></p>
            </div>
        </a>
    </div>
    <div class="espacamento2"></div>

    <header>Gráficos</header>
    <div class="espacamento"></div>
    
    <div class="espacamento2"></div>
{% endblock %}