{% extends 'tfc/layout.html' %}

{% block main %}    
    <header>Dashboard</header>
    <div class="paginas">
        <a href="{% url 'tfc:inicio' %}">
            <div>
                <center><h1>Início</h1></center><br>
                <p>Descricao da pagina</p> 
                <br><br><br>  
                <hr> 
                <br>
                <p>Ver Detalhes ></p>   
            </div>
        </a>
        
        <a href="{% url 'tfc:plantas' %}">
            <div>
                <center><h1>Plantas</h1></center><br>
                <p>Descricao da pagina</p> 
                <br><br><br>  
                <hr> 
                <br>
                <p>Ver Detalhes ></p>
            </div>
        </a>

        <a href="{% url 'tfc:omeujardim' %}">
            <div>
                <center><h1>O Meu Jardim</h1></center><br>
                <p>Descricao da pagina</p>  
                <br><br><br>  
                <hr> 
                <br>
                <p>Ver Detalhes ></p>  
            </div>
        </a>

        <a href="{% url 'tfc:definicoes' %}">
            <div>
                <center><h1>Definições</h1></center><br>
                <p>Descricao da pagina</p>    
                <br><br><br>  
                <hr> 
                <br>
                <p>Ver Detalhes ></p>
            </div>
        </a>
    </div>
    <div class="espacamento2"></div>

    <header>Gráficos</header>
    <div class="espacamento"></div>
    
    <div class="espacamento2"></div>
{% endblock %}