{% extends 'tfc/layout.html' %}

{% block main %}
    <header>Início</header>
    <div class="paginas">
        <a href="{% url 'tfc:notificacoes' %}">
            <div>
                <center><h1>Como Funciona a Aplicação?</h1></center><br>
                <p>Descricao da pagina</p>    
                <br><br>
                <hr> 
                <br>
                <p>Ver Detalhes ></p>
            </div>
        </a>
    </div>
    <div class="espacamento2"></div>

    <header>Meteorologia</header>
{% endblock main %}