<!DOCTYPE html>
<html lang = "pt">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name = "author" content = "Pedro Rocha">
    <meta name = "keywords" content = "Frontend, Backend">
    <meta name = "description" content = "TFC">
    {% load static %}
    <link rel = "shortcut icon" type = "image/x-icon" href = "{% static 'tfc/images/planta.ico' %}">
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'tfc/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <div>
      <form action = "" method="POST">
        {% csrf_token %}
        <h3>Username</h3>
        <input type="text" name="username" placeholder="username" autocomplete="off">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password" autocomplete="off">

        {% if message %}
          <p> {{ message }} </p>
        {% endif %}

        <input type="submit" value="Login">
      </form>  
    </div> 

</body>
</html>