{% extends 'tfc/layout.html' %}

{% block main %}
    <header>Notificações</header>
    <div class="espacamento"></div>
    <div class="notificacoes3">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 3                                                                                    23/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes4">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 4                                                                                    22/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes3">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    20/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes4">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 4                                                                                    19/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 5                                                                                    18/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes2">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de fertilizante.
                                    
  Nível: 2                                                                                    15/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes3">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    15/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de fertilizante.
                                    
  Nível: 4                                                                                    15/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes4">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 4                                                                                    15/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    12/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    09/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes2">
    <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 2                                                                                    08/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes4">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 4                                                                                    07/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    05/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 2                                                                                    05/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 4                                                                                    03/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Abacateiro" precisa de ser regada.
                                    
  Nível: 3                                                                                    01/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoeslidas">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de ser regada.
                                    
  Nível: 4                                                                                    01/05/2023
        </pre>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <div class="notificacoes5">
        <pre style="font-size: 16px;">  A planta "Roseira" precisa de fertilizante.
                                    
  Nível: 5                                                                                    01/05/2023
        </pre>
    </div>
    </div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
{% endblock main %}