{% extends 'tfc/layout.html' %}

{% block main %}
    <header>Notificações</header>
    <div class="espacamento"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    <div class="espacamento2"></div>

    <div class="notificacoesnaolidas">
        <p>wdvw</p><br>
        <p>ajcsnonja</p>
    </div>
    
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
{% endblock main %}