{% extends 'tfc/layout.html' %}

{% block main %}
    <header>{{ planta.nome }}</header>
    <div class="espacamento"></div>
    <p style="font-weight: bold;">Descrição:</p>

    <section>
        <p>{{ planta.descricao }}</p>
    </section>
    <div class="espacamento"></div>

    <p style="font-weight: bold;">Guião de cuidados:</p>
    <section>
        <ul>
            <li>Dificuldade: {{ planta.dificuldade }}</li>
            <li>Quantidade de água: {{ planta.quantidade_agua }} litros</li>
            <li>Quantidade de fertilizantes: {{ planta.quantidade_fertilizante }} kg</li>
            <li>Tipo de fertilizante: {{ planta.tipo_fertilizante }}</li>
        </ul>
        
    </section>
    <div class="espacamento"></div>

    <p style="font-weight: bold;">Imagem:</p>
    <section>
        {% load static %}
        <img src="{{ planta.imagem.url }}" alt="planta">
    </section>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <pre>
                                                                                                    <a href="{% url 'tfc:adicionar' planta.id %}">
                                                                                                        <input type="button" value="+ Adicionar ao jardim" class="buttonadd">
                                                                                                    </a>
    </pre>

    <p>Nota: Os valores indicados de água e fertilizante remetem para plantas de pequenas dimensões, isto é, que estejam plantadas no solo numa área máxima de 5 metros<sup>2</sup> ou estejam plantadas em vasos de pequena dimensão.</p>
   
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
{% endblock main %}