{% extends 'tfc/layout.html' %}

{% block main %}
    <header>{{ planta_cuidada }}</header>
    <div class="espacamento"></div>
    <p style="font-weight: bold;">Descrição:</p>

    <section>
        <p>{{ planta_cuidada.planta.descricao }}</p>
    </section>
    <div class="espacamento"></div>

    <p style="font-weight: bold;">Guião de cuidados:</p>
    <section>
        <ul>
            <li>Dificuldade: {{ planta_cuidada.planta.dificuldade }}</li>
            <li>Quantidade de água: {{ planta_cuidada.planta.quantidade_agua }} litros</li>
            <li>Quantidade de fertilizantes: {{ planta_cuidada.planta.quantidade_fertilizante }} kg</li>
            <li>Tipo de fertilizante: {{ planta_cuidada.planta.tipo_fertilizante }}</li>
        </ul>
    </section>
    <div class="espacamento"></div>

    <p style="font-weight: bold;">Tratamentos realizados:</p>
    <section>
        <ul>
            {% for tratamento in tratamentos %}
                <li>{{ tratamento }}</li>
            {% endfor %}
        </ul>   
    </section>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    
    <pre>
                                                                                                <a href="{% url 'tfc:adicionar_tratamento' planta_cuidada.id %}">
                                                                                                    <input type="button" value="+ Adicionar Tratamento" class="buttonadd">
                                                                                                </a>
    </pre>
    

    <p style="font-weight: bold;">Monitorização da planta:</p>
    <section>
           
    </section>

    <pre>
                                                                                                    <a href="{% url 'tfc:apagar' planta_cuidada.id %}">
                                                                                                        <input type="button" value="Apagar do Jardim" class="buttondel">
                                                                                                    </a>   
    </pre>
    
    
{% endblock main %}