{% extends 'tfc/layout.html' %}

{% block main %}
    <header>Plantas</header>
    <div class="espacamento"></div>
    <div class="plantas">

        {% for planta in plantas %} 
            <div>
                <a href="{% url 'tfc:planta' planta.id %}">
                    <div>
                        {% load static %}
                        <img src="{{ planta.imagem.url }}" alt="planta">
                    </div>
                    <div><p>{{ planta.nome }}</p></div>
                </a>
            </div>          
        {% endfor %}
    </div>


    
{% endblock main %}