{% extends 'tfc/layout.html' %}

{% block main %}
    <header>Tratamento {{ planta_cuidada }}</header>
    <div class="espacamento"></div>

    <form action="{% url 'tfc:adicionar_tratamento' planta_cuidada.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>

        <input type="submit" value="Adicionar Tratamento" class="buttonadd">

        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>

        <a href="{% url 'tfc:omeujardim' %}" class="espacamento">Voltar</a>

        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
    </form>

{% endblock main %}